/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {
	padding:0px;
	margin:0px;
}
header{
	width:100%;
}
.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}
#head{
	width:100%;
}
#head img{
	-moz-filter: brightness(50%);
	-webkit-filter:brightness(50%);;
	position:relative;
}
#head h1{
	border-bottom:5px solid white;
	width:240px;
	position:absolute;
	color:white;
	font-family:Arial;
	font-size:5em;
	margin-top:12%;
	margin-left:25%;
	z-index:999;
}
#aboutcontent{
	width:71.5%;
	float:right;
}
#aboutcontent p{
	width:55%;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	font-size: 21px;
	color:#828c99;
	font-family:Arial;
}
.aboutheader{
	width:71.5%;
	float:right;
	margin-top:2%;
}
.aboutheader h1{
	font-family:prime;
	font-size:3em;
	text-align:center;
}
#menu{
	background-color:black;
	width:28.2%;
	height:1080px;
	display:inline-block;
	position:fixed;
}
#menu ul{
	margin-right:5%;
	padding:0px;
	margin-top:10%;
	margin-right:9%;
	width:85%;
	float:right;
}
#menu ul li{
	list-style-type:none;
	display:block;
	text-align:right;
	margin-right:0px;
	margin-top:5%	;
	font-size:1.5em;
	font-family:prime;
	font-weight:900;
}
#menu ul li a{
	text-decoration: none;
	color:white;
	font-size:0.9em;
	font-family:prime;
}
#menu ul li a:hover{
	color:red;
}
.homepagecontent{
	width:71.5%;
	float:right;
}
.articlemap{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.headerimg{
	width:100%;
	height:900px;
}
.headerimg img{
	float:right;
	-moz-filter: brightness(60%);
	-webkit-filter:brightness(60%);;
}
.headerlogo{
	width:100%;
	height:30%;
}
.headerlogo img{	
	float:right;
	margin-top:15%;
	margin-right:8.3%;
	display:block;
}
.headerlogo h1{
	color:white;
	font-family:prime;
	float:right;
	width:85%;
	padding:0px;
	margin-top:7%;
	font-weight:900;
	font-size:2.5em;
	margin-right:9%;
	border-bottom:1px solid white	;
	text-align:right;
}
.sidebar{
	background-color:black;
	width:200px;
	height:1000px;
	display:inline-block;
	vertical-align:top;
}
.contenttitle{
	width:71.5%;
	float:right;
}
.contenttitle h1{
	font-family:prime;
	text-align:center;
}
.pagination{
	width:100%;
	height:44px;
	margin-left:auto;
	margin-right:auto;
	border-top:2px solid black;
	margin-top:2%;
}
.pagination ul{
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	height:44px;
	width:20%;
}
.pagination ul li{
	display:block;
	float:left;
	font-family:Arial;
	font-size:1.5em;
	margin:10px 15px;
}
article{
	width:45%;
	display:inline-block;
	margin-left:4.8%;
}
footer{
	background-color:#770215;
	width:71.8%;
	height:180px;
	float:right;
	margin-top:5%;
	vertical-align:bottom;
}
footer div{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
footer div h1{
	font-family:prime;
	color:white;
	font-size:3em;
	text-align:center;
}
footer div p{
	font-family:Arial;
	color:white;
	font-size:0.8em;
	text-align:center;
}


@font-face {
    font-family:'prime';
    src: url(../fonts/neotric.ttf);
}
@font-face {
    font-family:'font2';
    src: url(../fonts/trench.ttf);
}